<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Partnere</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <%- include('includes/header') %>
        <main>
            <% articles.forEach(article=> { %>
                <a href="articles/<%= article.id %>">
                    <div class="articleBox" >
                        <h2>
                            <%= article.title %>
                        </h2>
                        <div class="creationDate">
                            <%= article.createdAt.toLocaleDateString() %>
                        </div>
                        <div class="articleDescription">
                            <%= article.description %>
                        </div>
                    </div>
                </a>
                <% }) %>
        </main>
</body>

</html>